body {
    margin: 0 auto;
    width: 50vw;
    background-color: oldlace;
    color: dodgerblue;
    border: 3px solid dodgerblue;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    font-weight: bolder;
}
input {
    width: 99%;
    padding: 12px 20px;
    margin: 0 auto;
    box-sizing: border-box;

    border: none;
}
button {
    background-color: dodgerblue;
    border: 2px solid black;
    color: oldlace;
    padding: 15px;
    margin: 5px;
    font-weight: bolder;
}

button:hover {
    background-color: oldlace;
    color: dodgerblue;
    border: 2px solid dodgerblue;
}